/* Light mode theme (default) */
:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --button-background: #007bff;
  --button-text: #ffffff;
  --switch-background: #ddd; /* Light background for the switch */
  --switch-handle: #000000; /* Light handle color */
}

.title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 1vh;
}

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  background-color: var(--background-color);
  color: var(--text-color);
}

.button-container {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically, optional */
  margin-top: 2vh;
}

.centered-button {
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.input-group {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputs {
  display: flex;
  justify-content: center; /* Centers input horizontally */
  gap: 10vh;
}

input[type="number"] {
  width: 20vh;
  padding: 10px; /* Add padding inside the input */
  font-size: 16px; /* Adjust font size */
  border: 1px solid #ccc; /* Light gray border */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Light shadow */
  transition: border-color 0.3s, box-shadow 0.3s; /* Smooth transitions */
  background-color: var(--background-color);
  color: var(--text-color);
}

input[type="number"]:focus {
  border-color: #007bff; /* Change border color on focus */
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25); /* Highlight shadow on focus */
  outline: none; /* Remove default outline */
}

.calculation {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.info-section {
  margin: 20px;
  font-family: Arial, sans-serif;
}

.toggle-button {
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.toggle-button:hover {
  background-color: #0056b3;
}

.expandable-content {
  display: none; /* Hidden by default */
  margin-top: 10px;
  border: 1px solid #ddd;
  padding: 10px;
  background-color: var(--switch-background);
}

@media (max-width: 768px) {
  /* Adjust the breakpoint as needed */
  .input-group {
    margin-top: 1vh;
  }
  .inputs {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers input horizontally */
    gap: 2vh;
  }
}
